html {
    max-width: 600px;
    margin: auto;
    background-color: rgb(159, 159, 159);
}    

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.WholeBody {
    background-color: rgb(60, 63, 71);
    background-image: url('images/goalwhite.png'); 
    background-repeat: no-repeat; 
    background-size: 350px; 
    background-attachment: local;
    background-position: 120% 140%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 46, 52);
}

ul li {
    list-style: none;
}

ul .bulleted::before {
    content: "\2022"; 
    color: rgb(234, 234, 167);
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.navlink {
    padding: 10px;
}

.navlink:hover {
    color:rgb(27, 209, 176)
}


.logo-pic {
    width: 60px;
    padding: 15px;
    padding-right: 0;
}

.logo-watermark {
    width: 350px;
    opacity: 10%;
}

.logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.CompanyName {
    color: rgb(27, 209, 176);
    padding-left: 15px;
    justify-content: left;
}

.MainSection, .ReasonsSection {
    margin: 30px;
    margin-left: 50px;
}

h3 {
    color: rgb(234, 234, 167);
}

h2 {
    font-style: italic;
}

.reactlogo {
    width: 35px;
    height: 30px;
    padding: 10px;
}

.intro {
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 46, 52);
    padding: 20px 0 20px 0;
}
